doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HealthSync - #{user.name}
        link(rel="stylesheet", href="./../styles/style.css")
        link(rel="shortcut icon", href="./../assets/favicon.ico", type="image/x-icon")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="https://kit.fontawesome.com/1d41b3ab2c.js", crossorigin="anonymous")
    body.w-screen.bg-branco
        header.header.flex.flex-row.justify-center.items-center.py-10.px-8
            div.flex.flex-row.justify-center.items-center.gap-4.font-barlow.font-bold.tracking-wider.text-gray-700.drop-shadow-md(class="w-[80%]")
                img.imgId.rounded-full.border-2.border-solid.border-amarelo.shadow-xl(src=`./../assets/${user.photo}`, alt="", class="w-[30%]", data-id=user._id)
                ul.flex.flex-col.justify-center.items-center
                    li=user.name 
                    li=user.speciality 
                    li=`${user.city} - ${user.state}`     
            div.flex.flex-col.justify-center.items-center(class="w-[20%]")
                img(src="./../assets/logo.png", alt="", class="w-[85%]")
        main.main.flex.flex-col.justify-center.items-center.pb-10.w-full.px-6.gap-8
            h2.font-barlow.font-bold.text-2xl.text-azul.tracking-wider.drop-shadow-lg=paciente.name
            each prontuario in paciente.prontuarios
                a.flex.flex-col.justify-center.items-center.p-3.bg-azul.shadow-lg.text-gray-50.font-poppins.gap-1(href=`/prontuario/${paciente._id}?cod=${prontuario._id}`,class="w-[80%]")
                    div.flex.flex-row.justify-evenly.items-center.w-full.text-sm
                        each diagnostico in prontuario.diagnosis 
                            h1.text-base=diagnostico.main.toUpperCase()
                    p.text-sm=prontuario.date.split('-').join(' - ')                    
            div.flex.flex-col.justify-center.items-center.w-full.pt-16.gap-1(class=`${paciente.prontuarios[0] ? 'hidden' : ''}`)
                img(src="./../assets/cant-find.png", alt="")
                h2.font-poppins.text-2xl.text-bold.drop-shadow-lg.text-gray-700.text-center Não achamos nenhum prontuário em nosso arquivo!
                a.bg-azul.px-4.py-2.text-gray-50.font-poppins.font-bold.shadow-xl.rounded-md.mt-10(href=`/pacientes`) RETORNAR
        footer.w-full.bg-azul.flex.flex-row.justify-center.py-3.absolute.bottom-0
            img(src="./../assets/hapvida.png", alt="",class="w-[70%]")