doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HealthSync - #{user.name}
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="shortcut icon", href="./assets/favicon.ico", type="image/x-icon")
        script(src="https://kit.fontawesome.com/1d41b3ab2c.js", crossorigin="anonymous")
    body.w-screen.bg-branco
        header.flex.flex-col.justify-center.items-center.pt-10
            div.flex.flex-row.justify-center.items-center.gap-4
                h1.font-bold.font-barlow.text-4xl.text-azul HealthSync
                img(src="./assets/logo.png", alt="", class="w-[15%]")
            div.w-full.flex.flex-row.justify-center.items-center.p-10
                div.flex.flex-col.justify-center.items-start.gap-3(class="w-[50%]")
                    ul.flex.flex-col.justify-center.items-start.font-poppins.text-gray-700 
                        li.flex.flex-col.justify-center.items-start
                            p.font-bold CRM
                            p=user.crm
                        li.flex.flex-col.justify-center.items-start
                            p.font-bold Formação
                            p=user.speciality 
                        li.flex.flex-col.justify-center.items-start
                            p.font-bold Tel.
                            p=user.phone
                        li.flex.flex-col.justify-center.items-start
                            p.font-bold Email
                            p=user.email
                        li.flex.flex-col.justify-center.items-start
                            p.font-bold Local
                            p=user.city + ' - ' + user.state
                div.flex.flex-col.justify-center.items-center.gap-3(class="w-[50%]")
                    img.rounded-full.border-2.border-solid.border-amarelo.shadow-xl(src=`./assets/${user.photo}`, alt="")
                    h2.font-barlow.font-bold.text-2xl.tracking-wider.text-azul.drop-shadow-md=user.name.split(' ')[0]
        main.flex.flex-col.justify-center.items-center.gap-6.w-full.text-center 
            a.font-poppins.bg-azul.px-5.py-4.text-gray-50.flex.flex-row.justify-center.items-center.rounded-lg.shadow-xl.text-xl(href="/pacientes",class="w-[60%]")
                p(class="w-[70%]") Pacientes 
                i(class="fa-solid fa-id-card-clip text-2xl w-[30%]")
            a.font-poppins.bg-azul.px-5.py-4.text-gray-50.flex.flex-row.justify-center.items-center.rounded-lg.shadow-xl.text-xl(href="/chat",class="w-[60%]")
                p(class="w-[70%]") Novo Chat
                i(class="fa-solid fa-notes-medical text-2xl w-[30%]")
            a.font-poppins.bg-azul.px-5.py-4.text-gray-50.flex.flex-row.justify-center.items-center.rounded-lg.shadow-xl.text-xl(href="/conversas",class="w-[60%]")
                p(class="w-[70%]") Conversas
                i(class="fa-solid fa-user-doctor text-2xl w-[30%]")
        footer.w-full.bg-azul.absolute.bottom-0.flex.flex-row.justify-center.py-3
            img(src="./assets/hapvida.png", alt="",class="w-[70%]") 
