doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HealthSync - #{user.name}
        link(rel="stylesheet", href="./../styles/style.css")
        link(rel="shortcut icon", href="./../assets/favicon.ico", type="image/x-icon")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="https://kit.fontawesome.com/1d41b3ab2c.js", crossorigin="anonymous")
        script(type="module", defer, src="./../js/chatSpeciality.js") 
    body.w-screen.bg-branco
        header.header.flex.flex-row.justify-center.items-center.py-10.px-8
            div.flex.flex-row.justify-center.items-center.gap-4.font-barlow.font-bold.tracking-wider.text-gray-700.drop-shadow-md(class="w-[80%]")
                img.imgId.rounded-full.border-2.border-solid.border-amarelo.shadow-xl(src=`./../assets/${user.photo}`, alt="", class="w-[30%]", data-id=user._id)
                ul.flex.flex-col.justify-center.items-center
                    li=user.name 
                    li=user.speciality 
                    li=`${user.city} - ${user.state}`     
            div.flex.flex-col.justify-center.items-center(class="w-[20%]")
                img(src="./../assets/logo.png", alt="", class="w-[85%]")
        h3.speciality.font-barlow.font-bold.text-azul.text-3xl.tracking-wider.drop-shadow-lg.text-center.pb-10(data-speciality=speciality)=speciality
        main.main.flex.flex-row.flex-wrap.justify-center.items-center.gap-6.w-full
           
            
